<div class="bio_section">
  <div class="bio_text">
    <h1>Raphael Aldaz</h1>
    <p>Développeur web passionné par l'innovation. Mon approche du développement web intègre des valeurs humaines et
      écologiques. Mon travail allie qualité tehnique et sensibilité environnementale.</p>
    <p>Mon handicape n'a jamais altéré ma motivationni mon engagement à poursuivre mon parcours professionnel avec
      determination.</p>
    <p>Mes compétences acquises à travers des formations, des projets personnels et professionnel me permettent
      aujourd'hui d'apporter une réelmle plus-value à une entreprise.</p>
    <h3>Donnez vous la chance de me rencontrer</h3>
  </div>
</div>