.main{
  height: 100vh;
  display: flex;
  width: 100%;
}
.personnal_section{
  width: 25%;
  border: solid 1px #000;
}
.presentation_section{
  width: 100%;
  border: solid 1px #000;
}
@media screen and (max-width: 768px){
  .main{
    flex-direction: column;
  }
  .personnal_section{
    width: 100%;
  }
}

