/* You can add global styles to this file, and also import other style files */
:root{
  --white-color:#F4EDDE;
  --tomato-color: #F06449;
  --yellow-color: #F2AF29;
  --green-color:#515B3A;
}
body{
  margin: 0;
  padding: 0;
}
